@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.hero {
  padding: 4rem;
  background: vars.$c-gray-200;

  & .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;


    & .content {
      flex-basis: 50%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;

      background: vars.$c-marigold-100;
      padding: 2rem;
      border-radius: 0.6rem;

      & .title {
        font-size: 1.2rem;
        text-transform: uppercase;
      }
      & h2 {
        font-size: 4rem;
        color: vars.$c-marigold-600;
        line-height: 0.9;
      }

      & .description {
        font-size: 1.5rem;
      }
    }
  }
}
